body {
    --menu-height: 40px;

    margin: 0;
    overflow: hidden;
}

#menu {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: var(--menu-height);
    border-bottom: 1px lightgray solid;
}

#menu > div {
    display: flex;
    margin: 0 10px;
}

#menu > div > * {
    margin: 10px 3px;
}

#background-setting > select {
    width: 180px;
}

#display-area {
    position: absolute;
    top: var(--menu-height);
    width: 100vw;
    height: calc(100vh - var(--menu-height));
}

#background {
    width: 100%;
    height: 100%;
}

#background-leaflet {
    width: 100%;
    height: 100%;
}