body {
    --edit-menu-height: 35px;

    margin: 0;
    overflow: hidden;
}

#edit-menu {
    --edit-menu-background-color: #fcfcfc;

    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: var(--edit-menu-height);
    padding: 0 5px;
    background-color: var(--edit-menu-background-color);
    border-bottom: 1px lightgray solid;
}

#edit-menu div {
    display: flex;
    align-items: center;
}

#edit-menu *:not(div) {
    background-color: var(--edit-menu-background-color);
}

#edit-menu *:not(div):not(button) {
    margin: 0 2.5px;
}

#edit-menu p {
    font-size: 14px;
}

#edit-menu button {
    border: none;
    font-size: 14px;
    padding: 3px 4px;
}

#edit-menu button:hover {
    background-color: #eaeaea;
}

#edit-menu select {
    padding: 2px;
    border: 1px solid black;
    background-color: white;
}

#background-setting > select {
    width: 180px;
}

#map-area {
    position: absolute;
    top: var(--edit-menu-height);
    width: 100vw;
    height: calc(100vh - var(--edit-menu-height));
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
}

#background-leaflet {
    position: absolute;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}
